<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Model analytics</h1>
    <tools-navigator></tools-navigator>
</div>
<div class="data-bar">
    <strong>Regression equation</strong>
    <div *ngIf="!equation" class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>
    <ng-katex *ngIf="equation" [equation]="equation" [options]="options"></ng-katex>
</div>
<div class="data-bar">
    <strong>Error sum</strong>
    <div *ngIf="!estimations" class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>
    <span *ngIf="estimations">{{estimations.squareSumMax}}</span>
</div>
<div class="data-bar">
    <strong>Correlation koefficient</strong>
    <div *ngIf="!estimations" class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>
    <span *ngIf="estimations">{{estimations.correlation}}</span>
</div>
<div class="data-bar">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Y0</th>
                    <th scope="col">Y1</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pair of pairs">
                    <td>{{pair.discrete}}</td>
                    <td>{{pair.approximate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>