.data-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0px;

    strong {
        padding: 15px;
    }
}

.table-responsive {
    overflow-y: scroll;
    height: 300px;

    table {
        table-layout: fixed;
        overflow-y: auto;
    }
}