<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ASCM Regression</a>
    <div class="button-holder">
        <button type="button" class="btn btn-dark">New</button>
        <button type="button" class="btn btn-dark">Save</button>
        <button type="button" class="btn btn-dark">Import</button>
    </div>
    <div class="container">
        <select class="custom-select model-selector" required>
            <option selected disabled value="">Choose existing model...</option>
            <option>1</option>
        </select>
    </div>
</nav>