<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>            
            <th *ngFor="let headCell of heading; index as i">
                <statistics-cell 
                [isReadonly]="true" 
                [(value)]="heading[i]">
                </statistics-cell>
            </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td>
                    <statistics-cell 
                    [isReadonly]="true" 
                    [(value)]="row.id">
                    </statistics-cell>
                </td>
                <td *ngFor="let arg of row.args; index as i">
                    <statistics-cell 
                    [isReadonly]="false" 
                    [(value)]="row.args[i]">
                    </statistics-cell>
                </td>
                <td>
                    <statistics-cell 
                    [isReadonly]="false" 
                    [(value)]="row.result">
                    </statistics-cell>
                </td>
            </tr>
        </tbody>
    </table>
</div>
